.container {
  display: flex;
  max-width: 1200px;
  margin: 0 auto;
}

.content {
  flex: 3;
  padding: 20px;
}

.sidebar {
  flex: 1;
  padding: 20px;
  background-color: #f2f2f2;
  height: fit-content;
}
