:root {
    --fontFamily-default: "Inter", sans-serif;
  }
  @font-face {
    font-family: "Neue Haas Grotesk";
    src: url("./fonts/NeueHaasDisplay-Bold.woff2") format("woff2");
    font-weight: 700;
    font-style: normal;
  }
  @font-face {
    font-family: "Neue Haas Grotesk";
    src: url("./fonts/NeueHaasDisplay-Mediu.woff2") format("woff2");
    font-weight: 400;
  }
  @font-face {
    font-family: "Neue Haas Grotesk";
    src: url("./fonts/NeueHaasDisplay-Light.woff2") format("woff2");
    font-weight: 300;
    font-style: normal;
  }

  @font-face {
    font-family: "Neue Haas Grotesk";
    src: url("./fonts/NeueHaasDisplay-Thin.woff2") format("woff2");
    font-weight: 100;
    font-style: normal;
  }
  
html, body {
    font-family: "Neue Haas Grotesk", sans-serif;
    margin: 0;
    padding: 0;
    height: 100vh; 
    overflow: hidden;
}

.container {
    display: flex;
    width: 100%;
    height: 100vh; 
}

.left-column {
    flex: 0 0 50%; 
    padding: 2rem;
    overflow: auto;
    background: white;
}

.right-column {
    flex: 1; 
    padding: 2rem;
    overflow-y: auto;
    background-color: #f9f9f9;
}


h1 {
    font-size: 100px;
    letter-spacing: 0.8px;
    line-height: 1;
    margin: 0;
    font-weight: 500; /* Regular weight */
    line-height: 0.9; /* Close vertical spacing */
    color: rgba(0, 0, 0, 0.85); /* Soft black */
}

p {
    
    font-weight: 300;
    font-size: 24px;

}

.subtext {
    font-weight: 200;
    font-size: 20px;
}

.Experience {
    font-weight: 200;
    font-size: 20px;
}
  
  .project {
    display: flex;
    margin-bottom: 2rem;
    padding: 1.5rem;
    background-color: #ffffff;
    border: 1px solid #e0e0e0;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0,0,0,0.05); /* subtle shadow */
    
  }

  .project-text {
    flex: 1;
  }
  
  .project h2 {
    margin-top: 0;
    font-size: 35px;
    font-weight: 500;
    letter-spacing: -0.02em;
  }

  .project h3 {
    margin-top: 0;
    font-size: 20px;
    font-weight: 300;
    letter-spacing: -0.02em;
  }
  
  .project p {
    margin-top: 0.5rem;
    font-weight: 300;
    color: rgba(0, 0, 0, 0.75);
    font-size: 1rem;
    line-height: 1.4;
  }
  
  .project-image {
    width: 400px; 
    height: 300px; 
    overflow: hidden; 
    margin-left: 2rem;
    border-radius: 10px;
  }
  
  .project-image img {
    width: 100%;
    height: 100%;
    object-fit: cover; 
  }